<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3386E0A21D6D208600AE084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3386E0BB1D6D208700AE084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3386E0C61D6D208700AE084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
